@tailwind base;
@tailwind components;
@tailwind utilities;

.listitem:hover .sublist {
  display: block;
  position: absolute;
  text-align: right;
  /* right: 0; */
  /* left: 0; */

}

.listitem:hover .down-arrow {
  rotate: 180deg;
}

.hero-shadow {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}